*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/src/main/java/jumapp/com/smartest/adapters/ExerciseAdapterProva.java

app/src/main/java/jumapp/com/smartest/adapters/ExerciseAdapterProva.java
